<header class="header-main">
    <div class="retenedor">
        <a href="/admin" class="header-logo"><img src="/img/Logo.svg" alt="Logo Funko"></a>
        <div class="header-search">
            <form action="">
                <input type="text" placeholder="Buscar">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <nav class="header-navMenu">
            <div class="header-menuClose"><i class="fa-solid fa-xmark"></i></div>
            <div class="header-user">
                <div class="header-imgUser"><img src="/img/User.jpg" alt="Foto de perfil"></div>
                <div class="header-despliegeUser">
                    <button class="header-btnMenu">Admin<i class="fa-solid fa-caret-down"></i></button>
                    <ul class="header-ulUser">
                        <li><a href="/usuarios/perfil">Configuración</a></li>
                        <li><a href="/usuarios/inicio">Inicia Sesión</a></li>
                        <li><a href="/usuarios/inicio">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-search-menu">
                <form action="">
                    <input type="text" placeholder="Buscar">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="conteiner-redirecciones">
                <div class="header-redireccionBtn">
                    <a href="/admin/productos">Productos</a>
                </div>
                <div class="header-redireccionBtn">
                    <a href="/admin/categorias">Categorias</a>
                </div>
            </div>
        </nav>
        <button class="header-btnBars"><i class="fas fa-bars"></i> </button>
    </div>
</header>