/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* END GENERALES */

/* HEADER */

.login header{
    display: flex;
    background-color: #072227;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
}

.login header i{
    color: white;
}

.login header a{
    text-decoration: none;
    color: white;
}

.login header ul{
    list-style: none;
    color: white;
}

.login header .logo{
    width: 25%;

}

.login header nav ul{
    display: none;
}

.login header ul.user{
    display: none;
}

.login header form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.login header form input{
    background-color: white;
    background-image: url('/public/img/searchicon.png');
    background-size: 19px;
    background-position: 93% center ;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 25px;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.login header form input::placeholder{
    border-right: 1px solid black;
    width: 82%;
    font-size: large;
}

.login header i{
    width: 5%;
    font-size: 1.3rem;
}

/* END HEADER */

/* MAIN */

body.login main .login .input-container_login{
    display: flex;
    justify-content: space-between;
}

body.login main .login .input-container_login label{
    display: flex;
}

input.checkbox{
    order:-1;
    position: relative;
    top: 14%;


}

/* END MAIN */

/* FOOTER */

.login footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.login footer article.logo-redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #072227;
}

.login footer article.logo-redes img.logo{
    width: 20%;
}

.login footer article.logo-redes i{
    color: white;
    font-weight: lighter;
    margin-right: 5px;
    font-size: 100%;
}
/* END FOOTER  */