body.login main .login .input-container_login{
    display: flex;
    justify-content: space-between;
}

body.login main .login .input-container_login label{
    display: flex;
    cursor: pointer;
}
.a-contraseña{
    color: black;
}

input.checkbox{
    order:-1;
    position: relative;
    top: 14%;
    margin-right: 0.2rem;
    cursor: pointer;
}

body.forms .main_login-container{
    margin:  6rem auto 4rem;
}


@media(min-width:768px){
    body.login{
        justify-content: space-evenly;
    } 

    .form-container{
        background-color: rgba(0, 0, 0, 0.1);
        padding: 1.8rem;
        border-radius: 0.3rem;
   }

   body.forms .main_login-container{
       margin: auto;
   }
   
   /* Footer */
   body.login footer{
       margin: 0;
   }
    /* body.login footer{
       position: absolute;
       left: 0;
       bottom: 0;
   } */
}

@media(min-width:1200px){
    body.login{
        padding: 3.1rem 0 300px;
    }

    .form-container{
        background-color: rgba(0, 0, 0, 0.1);
        padding: 1.8rem;
        border-radius: 0.3rem;
   }

   body.forms .main_login-container{
       margin: auto;
   }
   
   /* Footer */

    body.login footer{
       position: absolute;
       left: 0;
       bottom: 0;
   }
}