@import url('/css/header.css');
@import url('/css/footer.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

/* MAIN */

main { 
    margin: 3.5rem 1rem 0 1rem;
}

main h1{
    text-align: center;
    text-decoration: underline;
    color: var(--text);
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section article{
    max-width: 400px;
    color: var(--text);
}

main section article div.check-pago{
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
}

main section article div.check-pago i{
    color: var(--botones);
    font-size: 1.5rem;
    margin-right: 1rem;
}

main section article p {
    line-height: 1.5rem;
} 

/*Slider*/

.slider-formasDePago{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 1rem;
}

.slider-formasDePago ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    animation: deslizar 20s infinite alternate;
}

.slider-formasDePago ul li{
    list-style: none;
    width: 100%;
}

.slider-formasDePago ul li img{
    width: 100%;
}

@keyframes deslizar {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}


/* END MAIN */

/*****************/
/* MEDIA QUERIES */
/*****************/


/* TABLET */

@media(min-width: 768px){

body.pagos{
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0 0 ;
    min-height: 100vh;
}

/* MAIN */

main{
     margin: auto;
}

main h1{
    margin-bottom: 2rem;
}

/*SLIDER*/

.slider-formasDePago{
    width: 100%;
}
}


@media(min-width: 1200px){
    .slider-formasDePago{
        width: 60%;
    }
}
