@import url('/css/header.css');
@import url('/css/footer.css');




body.perfilUser{
    margin-top: 3rem;
}

body.perfilUser main{
    padding: 1rem;
}

.perfilH1 h1{
    border: 1px solid rgba(128, 128, 128, 0.4);
    font-size: 1.3rem;
    text-align: center;
}

p{
    color: rgb(162, 160, 160);
    font-size: .8rem;
}
/* AVATAR  */
.contendor-avatar .imgUser{
    background-color: beige;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
}

.contendor-avatar .imgUser img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contendor-avatar .inputFile{
    background-color: rgba(128, 128, 128,0.6);
    width: 100%;
    height: 3rem;
    border-radius: 0.8rem;
    color: white;
    margin: 1rem auto;
    position: relative;
    cursor: pointer;
    max-width: 320px;
}

.contendor-avatar .inputFile span{
    position: absolute;
    top: 25%;
    left: 34%; 
}

.contendor-avatar .inputFile input{
    opacity: 0;
    width: 100%;
}

/* INPUT USER EMAIL  */
.contenedor-nameUser form div input{
    width: 78%;
    margin-bottom: 1rem;
    height: 3rem;
    background-color: rgba(128, 128, 128,0.6);
    border-radius:  .8rem  ;
    border: none;
    padding-left: 1rem;
}

.contenedor-nameUser form div input:hover{
    outline: none;
}

.contenedor-nameUser form div button{
    width: 20%;
    height: 3rem;
    border: none;
    background-color: #3483FA;
    color: white;
    border-radius: .8rem;
}

.contenedor-nameUser form div button:hover{
    background-color: rgba(52, 131, 250,0.9);
}
/* NAME LASTNAME  */
.contenedor-datos form .nom_ape-container div input,
.selec-container,
.input-style{
    width: 100%;
    height: 3rem;
    background-color: rgba(128, 128, 128,0.6);
    border-radius: .8rem;
    border: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.contenedor-datos form .nom_ape-container div input:hover{
    outline: none;
}

/* BTN  */
.btn-cambios .btnDelete{
    height: 3rem;
    width: 100%;
    border-radius: .8rem;
    border: 1px solid red;
    margin-bottom: 1rem;
    transition: all ease .7s;
    background-color: white;
}

.btn-cambios .btnDelete:hover{
    background-color: #3483FA;
    border: none;
    color: white;
}

.btn-cambios .btnSubmit{
    background-color: #3483FA;
    height: 3rem;
    width: 100%;
    border-radius: .8rem;
    border: none;
    color: white;
    transition: all ease .5s;
}

.btn-cambios .btnSubmit:hover{
    background-color: rgba(52, 131, 250,0.9);
}

@media(min-width:768px){
    body.perfilUser{
        margin-top: 6rem;
    }
    body.perfilUser main{
        padding: 1rem;
        max-width: 900px;
        border: 1px solid rgba(128, 128, 128, 0.4);
        margin: 0 auto 2rem;
    }
    .perfilH1 h1{
        border:none;
        font-size: 1.6rem;
        text-decoration: underline;
    }
    .contenedor-nameUser form{
        display: flex;
        justify-content: space-between;
    }
    .contenedor-nameUser form div{
        width: 48%;
    }
    .contenedor-nameUser form div input{
        margin: 2rem 0;
    }
    .contenedor-datos form .nom_ape-container,
    .pais_tel-contenedor,
    .contenedor-address,
    .contenedor-bottom,
    .btn-cambios{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .contenedor-datos form .nom_ape-container div,
    .selec-container,
    .pais_tel-contenedor div,
    .contenedor-address .input-container,
    .contenedor-bottom .input-barrio,
    .contenedor-bottom .input-region,
    .btn-cambios .btnDelete,
    .btn-cambios .btnSubmit{
        width: 48%;
    }
    .contenedor-bottom .input-region{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor-bottom .input-region .input-style{
        width: 33%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
}