@import url('/css/header.css');
@import url('/css/footer.css');
@import url("/css/varCss.css");
@import url('/css/home.css');


.is-invalid::placeholder{
    color: rgb(220, 53, 69);
}
thead, th, td , tbody{
    color: var(--text) !important;
}

.cpa{
    position: relative;
}

.cpa a{
    position: absolute;
    right: 2%;
    top: 21%;
    cursor: pointer;
    font-size: 12px;
    color: #1EC124;
}

body.perfilUser{
    margin-top: 3rem;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

body.perfilUser main{
    padding: 1rem;
}

.perfilH1 h1{
    border: 1px solid rgba(128, 128, 128, 0.4);
    font-size: 1.3rem;
    text-align: center;
    color: var(--text);
}

.perfilUser main p{
    font-size: .8rem;
    text-align: center;
    color: var(--text);
}
.perfilUser main p a{
    color: #1EC124;
}
.perfilUser main p a:hover{
    color: var(--botones);
}

.perfilUser main h5{
    text-align: center;
    color: var(--text);
}
/* AVATAR  */
.contendor-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contendor-avatar .imgUser{
    background-color: var(--contenedor);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
}

.contendor-avatar .imgUser img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--text);
}

.contendor-avatar form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;

}

.contendor-avatar form .inputFile{
    background-color: var(--input);
    width: 78%;
    height: 3rem;
    border-radius: 0.8rem;
    color: var(--text);
    margin: 1rem auto;
    position: relative;
    cursor: pointer;
}

.contendor-avatar form .inputFile span{
    position: absolute;
    top: 25%;
    left: 5%; 
}

.contendor-avatar form .inputFile input{
    opacity: 0;
    width: 100%;
}

.contendor-avatar form button{
    width: 20%;
    height: 3rem;
    border: none;
    background-color: var(--botones);
    color: white;
    border-radius: .8rem;
}
/* INPUT USER EMAIL  */


.contenedor-nameUser  div input{
    width: 78%;
    margin-bottom: 1rem;
    height: 3rem;
    background-color: var(--input);
    border-radius:  .8rem  ;
    border: none;
    padding-left: 1rem;
}

.contenedor-nameUser  div input::placeholder{
    color: var(--text);
}

.contenedor-nameUser  div input:hover{
    outline: none;
}

.contenedor-nameUser  div button{
    width: 20%;
    height: 3rem;
    border: none;
    background-color: var(--botones);
    color: white;
    border-radius: .8rem;
}

.input-container .localidadPerfil{
    width: 100%;
}

.contenedor-nameUser  div button:hover{
    background-color: var(--despliegueHover);
}
/* NAME LASTNAME  */
.contenedor-datos .nom_ape-container div input,
.selec-container,
.input-style{
    width: 100%;
    height: 3rem;
    background-color: var(--input);
    border-radius: .8rem;
    border: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.input-style::placeholder{
    color: var(--placeholder);
}

.contenedor-datos .nom_ape-container div input:hover{
    outline: none;
}
/* BTN  */
.btn-cambios .btnDelete{
    height: 3rem;
    width: 100%;
    border-radius: .8rem;
    border:var(--botones) 1px solid;
    margin-bottom: 1rem;
    transition: all ease .7s;
    background-color: white;
    color: var(--botones);
}

.btn-cambios .btnDelete:hover{
    background-color: var(--botones);
    border: none;
    color: white;
}

.btn-cambios .btnSubmit{
    background-color: var(--botones);
    height: 3rem;
    width: 100%;
    border-radius: .8rem;
    border: none;
    color: white;
    margin-bottom: 1rem;
    transition: all ease .5s;
}

.btn-cambios .btnSubmit:hover{
    background-color: var(--despliegueHover);
}

/* POP-UP */

.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
    z-index: 999;
}

.overlay .pop-up{
    background-color: var(--card);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Roboto';
    text-align: center;
    width: 80%;  
    padding: .8rem;
    max-width: 400px;
    transition: .5s ease all;
    transform: scale(.7);
    opacity: 0;
    color: var(--text);
}

.pop-up .squareLogo{
    height: 120px;
    width: 100%;
    position: relative;
}

.pop-up .squareLogo img{
    width: 100%;
    max-width: 200px;
    opacity: 0;
}

.pop-up .squareLogo .closePop-up{
    font-size: 1rem;
    color: #BBB;
    transition: .3s ease all;
    position: absolute;
    top: 0;
    left: 0;
}

.pop-up .squareLogo .closePop-up:hover{
    color: var(--text);
}

.pop-up article h5{
    margin-bottom: .8rem;
    color: var(--text);
}

.pop-up article p{
    color: var(--text);
    font-size: .9rem;
    margin-bottom: .8rem;
}

.pop-up article p b{
    color: red;
}

.pop-up form .input input{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--input);
    text-align: center;
    color: var(--text);
}
.pop-up form .input input:hover{
    outline: none;
}

.pop-up form .btnSubmit{
    width: 100%;
    text-align: center;
    height: 3rem;
    margin-top: 1rem;
    color: white;
    font-family: 'Roboto';
    cursor: pointer;
    border: none;
    background-color: var(--botones);
    border-radius: 0.8rem;
}

.pop-up form .btnSubmit:hover{
    background-color: var(--despliegueHover);
}

/* Transition - Animacion */
 .pop-up.active{opacity: 1; transform: scale(1);}
 .pop-up.active img{animation: logoOut .8s ease .5s forwards}
 @keyframes logoOut{
    0%{transform: translateY(-25px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
.tableAddress{
    display: none;
}
@media(min-width:700px){
    .tableAddress{
        display: inherit;
    }
}

@media(min-width:768px){
    body.perfilUser{
        margin-top: 6rem;
    }
    body.perfilUser main{
        padding: 1rem;
        max-width: 900px;
        border: none;
        margin: 0 auto 2rem;
        border-radius: .3rem;
        background-color: var(--contenedor);
    }
    .perfilH1 h1{
        border:none;
        font-size: 1.6rem;
        text-decoration: underline;
        color: var(--text);
    }
    .contenedor-nameUser{
        display: flex;
        justify-content: space-between;
    }
    .contendor-avatar form{
        width: 48%;
        justify-content: space-between;
    }
    .contenedor-nameUser  div{
        width: 48%;
    }
    .contenedor-nameUser  div input{
        margin: 2rem 0;
    }
    .contenedor-datos  .nom_ape-container,
    .pais_tel-contenedor,
    .btn-cambios{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .contenedor-datos  .nom_ape-container div,
    .selec-container,
    .pais_tel-contenedor div,
    .btn-cambios .btnDelete,
    .btn-cambios .btnSubmit{
        width: 48%;
    }
}