@import url('/css/header.css');
@import url('/css/footer.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}
a{
    color :#1EC124;
}
/* MAIN */
body.politicas{
    margin-top: 4rem;  
    background-color: var(--background); 
}

body.politicas ul{
    padding: 0;
    color: var(--text);
}

body.politicas main{
    margin: 0  1rem;
}

main section.menu-politicas h2{
    text-decoration: underline  3px var(--text);
    color: var(--text);
}

main section.menu-politicas ul{
    list-style: none;
    margin-top: 0.4rem;
    line-height: 1.5rem;
}

main section.menu-politicas ul li a{
    color: var(--polAnclas);
    text-decoration: none; 
    font-size: 0.8rem;
}

main section.menu-politicas ul li a:hover{
    color: var(--botones);
}

main section.politicas-priv h1{
    font-size: 1.9rem;
    margin-bottom: 0.4rem;
    color: var(--text);
}

main section.politicas-priv article h3{
    margin: 0.4rem 0;
    font-weight: 500;
    color: var(--text);
}

main section.politicas-priv article p{
    margin: 0.6rem 0;
    color: var(--polText);
    
}

main section.politicas-priv article ul{
    margin-left: 1.1rem;
}

/* END MAIN */

/*****************/
/* MEDIA QUERIES */
/*****************/

/* TABLET */

@media(min-width: 768px){
/* MAIN */

body.politicas main{
    margin: 0  1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main section.politicas-priv{
    width: 700px;
}
}
    
    
/* DESKTOP */

@media(min-width: 1200px){
body.politicas{
    margin-top: 6rem;   
}
/* MAIN */
main section.menu-politicas{
    max-width: 350px;
}

main section.politicas-priv{
    max-width: 700px;
}

main section.menu-politicas ul li a{
    font-size: 0.9rem;
}
}