@import url("/css/header.css");
@import url("/css/footer.css");
@import url("/css/varCss.css");
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}
body{
    background-color: var(--background);
}

p{
    color: var(--text);
}

.bannerFranquicias{
    width: 90%;
    margin: auto;
}
.bannerFranquicias img{
    width: 100%;
    object-fit: contain;
}

/* FOOTER */
.product-datail footer #footer-ul{
    padding: 0;
}
.product-datail footer p{
    margin: 0;
}

.product-datail footer {
    position: relative;
    bottom: 0;
    left: 0;
}

.product-datail footer .footer_article-container{
    height: 121px;
}

/* MAIN */


main {
    padding-top: 3.5rem;
    max-width: 1225px;
    margin: 0 auto;
}


/* SECTION */

section#section3:hover {
    box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 30%);
}

div.title {
    display: flex;
    align-items: center;
}

#section3 div.title h2.title-listado {
    margin-bottom: 0;
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem;
    font-weight: bold;
    color: var(--text);
}

div.interest {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
}

div.interest div.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20rem;
    margin: 10px 10px;
    min-width: 225px;
}

body main div.sales-container div.sales-box-container div.sales-box{
    margin: 10px 10px;
    min-width: 225px;
}

div.interest div.product a.img{
    max-width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 3px;
}

div.interest div.product a.img img.img-product{
    width: 100%;
    height: 100%;
    background-color: var(--card);
}

div.interest div.product div.description {
    margin-top: 1px;
    background-color: var(--card);
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.2);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}

div.interest div.product .funko-title,
div.interest div.product .funko-name {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--text);
}

div.interest div.product div#product-discount {
    display: flex;
    padding-left: 5rem;
}

div.interest div.product .funko-prices {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    color: var(--text);
}

div.interest div.product p.off {
    color: green;
    font-size: 11px;
    padding: 0.7rem 0.5rem 0 0;
}

div.interest div.product .funko-cuotes {
    font-size: 0.8rem;
    text-align: center;
}

div.interest div.product button {
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
    width: 90%;
    height: 2rem;
    text-transform: uppercase;
    border: solid 2px var(--botones);
    background-color: var(--card);
    color: var(--botones);
    font-size: 0.8rem;
}

div.interest div.product button:hover {
    background-color: #3483FA;
    color: white;
    border: none;
}

/* Media queries */

/* Tablet */
@media (min-width:768px) {

    /* SECTION */

    div.title {
        height: 100px;
    }

    #section3 div.title h2.title-listado {
        font-size: 1.9rem;
    }

    div.interest div.product.funko-title,
    div.interest div.product .funko-name {
        font-size: 1rem;
        height: 3rem;
    }

    div.interest div.product .funko-prices {
        font-size: 1.5rem;
    }

    div.interest div.product div#product-discount {
        padding-left: 7rem;
    }

    div.interest div.product .funko-cuotes {
        font-size: 0.7rem;
    }

    div.interest div.product button {
        font-size: 0.8rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {

    /* SECTION */

    section#section3 {
        margin: 1.3rem;
        justify-content: space-evenly;
        box-shadow: none;
        border: 3px solid var(--verdeCuadro);
        border-radius: 10px;
    }

    section#section3:hover {
        box-shadow: none;
    }
    
    div.title {
        margin: 1rem;
        width: 50%;
        height: 50px;
    }

    div.means-money div#title:hover,
    div.description div#title:hover {
        box-shadow: none;
    }

    #section3 div.title h2.title-listado {
        font-size: 2rem;
        margin: 2rem;
    }

    div.interest div.product.funko-title,
    div.interest div.product .funko-name {
        font-size: 1.3rem;
        height: 4rem;
    }

    div.interest div.product .funko-prices {
        font-size: 1.5rem;
    }

    div.interest div.product .funko-cuotes {
        font-size: 0.9rem;
    }

    div.interest div.product button {
        font-size: 0.85rem;
    }
}