body.forms .main_register section.register .nom_ape-container{
    display: flex;
    justify-content: space-between;
}

body.forms .main_register section.register .nom_ape-container .rInput{
    width: 49%;
}

body.forms .main_register section.register .nom_ape-container .rInput .rInput-style{
    width: 100%;
}

body.forms .main_register section.register .span-register a{
    color: #1EC124;
}

.selec-container{
    cursor: pointer;
}

body.forms .main_register{
    margin:  6rem auto 3rem;
}


@media(min-width: 768px){
    body.forms{
        min-height: 0;
    }

    /* body.forms .main_register{
        margin: auto;
    } */

    footer{
        position: initial;
        left: 0;
        bottom: 0;
    }
}

@media(min-width: 1200px){
    body.forms{
        min-height: 100vh;
    }

    body.forms .main_register{
        margin: 5.4rem auto 1.8rem;
    }
}


        /* margin: 4.4rem auto 1.8rem;
    }
} */



