[data-theme="light"]{
    --verdeClaro: #35858b;
    --verdeOscuro: #072227;
    --verdeCuadro: #4fbdba;
    --botones: #3483fa;
    --background: #fff;
    --text: #000;
    --header: #09333a;
    --card: #fff;
    /*FORMS*/
    --input: rgba(128, 128, 128,0.6);
    --placeholder: rgb(83, 82, 82);
    --contenedor: rgb(208, 208, 208);
    /*HEADER*/
    --menu: #3483fa;
    --menuHover: #5e9af5;
    --despliegueHover: rgb(108, 163, 247);
    /*POLITICAS*/
    --polText: rgb(44, 43, 43);
    --polAnclas: rgb(50, 50, 168);
    /*SOMOS*/
    --somosContenedor: rgb(255, 250, 250);
    --somosText: #555;
    --borderBox: rgba(0,0,0,0.35);
}

[data-theme="dark"]{
    --verdeClaro: #35858b;
    --verdeOscuro: #072227;
    --verdeCuadro: #233a39;
    --botones: #35858b;
    --background: #061b1f;
    --text: #fff;
    --card: #030f11;
    /*FORMS*/
    --input: rgba(42, 41, 41, 0.6);
    --placeholder: rgba(255, 255, 255, 0.42);
    --contenedor: #030f11;
    /*HEADER*/
    --header: #030f11;
    --menu: #35858b;
    --menuHover: #248c94;
    --despliegueHover: #1a919a;
    /*POLITICAS*/
    --polText: rgba(236, 236, 236, 0.797);
    --polAnclas: #1a919a;
    /*SOMOS*/
    --somosContenedor: #030f11;
    --somosText: rgb(226, 225, 225);
    --borderBox: rgba(96, 91, 91, 0.15);
}