<!DOCTYPE html>
<html lang="en"> 
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="carrito">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
<!-- MAIN -->
    <main class="main-carrito">
        <h1>Carrito</h1>
        <section class="main_section-muestra">
            <h4>PRODUCTOS (2)</h4>
            <article class="carrito-funkos">
                <div class="muestra-funko">
                    <div class="muestra-img">
                        <img src="/img/funkoSpiderMan.png" alt="Funko POP Spiderman">
                    </div>
                    <div class="muestra-caracteristica">
                        <strong>Funko POP Spiderman</strong><br>
                        <p>Caracteristica: Sin ma...</p> 
                        <a href="" class="muestra_carac-funko">Eliminar</a><br> <a href="" class="muestra_carac-funko">Productos similares</a>
                    </div>
                </div>
                <div class="btn_carrito-aumento">
                    <button><i class="fa-solid fa-minus"></i></i></button>
                    <p>1</p>
                    <button><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="carrito-precio">
                    <p class="p_espacio-carrito">Subtotal:</p>
                    <p class="dinero-domicilio">$5.470</p>
                </div>
            </article>
            <article class="carrito-funkos">
                <div class="muestra-funko">
                    <div class="muestra-img">
                        <img src="/img/funkoBreakingBad.png" alt="Funko POP Breaking Bad">
                    </div>
                    <div class="muestra-caracteristica">
                        <strong>Funko POP Breaking Bad</strong><br>
                        <p>Caracteristica: Traje a...</p> 
                        <a href="" class="muestra_carac-funko">Eliminar</a><br> <a href="" class="muestra_carac-funko">Productos similares</a>
                    </div>
                </div>
                <div class="btn_carrito-aumento">
                    <button><i class="fa-solid fa-minus"></i></i></button>
                    <p>1</p>
                    <button><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="carrito-precio">
                    <p class="p_espacio-carrito">Subtotal:</p>
                    <p class="dinero-domicilio">$5.800</p>
                </div>
            </article>    
            <div class="bottom-carrito">
                <article class="costo-envio">
                    <div class="domicilio">
                        <p class="p_espacio-carrito">Enviar al domicilio:</p>
                        <p class="dinero-domicilio">XXXXXXX</p>
                    </div>
                    <div class="total-precio">
                    <p class="p_espacio-carrito">Total:</p>
                    <p class="dinero-domicilio">$11.270</p>
                    </div>
                </article>
                <div class="methods-payment">
                  <label class="dinero-domicilio" for="">Formas de pago: </label>
                  <select name="credit" id="credit">
                    <option value="visa">Visa</option>
                    <option value="masterCard">MasterCard</option>
                    <option value="pagoFacil">Pago Facil</option>
                    <option value="cabal">Cabal</option>
                  </select>
                </div>
                <article class="btn-finalizar">
                    <button>CONTINUAR</button>
                </article>
            </div>
        </section>



        <!-- Catálogo -->

        <div class="sales-container">
            <div class="sales-top">
              <p class="sales-title">Recomendaciones:</p>
              <a href="#">Ver más</a>
            </div>
            <div class="sales-box-container">
  
              <div class="sales-box">
                <a href="/detalle-del-producto"><img src="img/image_cap-america.png" alt="Funko Capitan America"/></a>
                <div class="sales-description">
                  <h4 class="funko-title">Funko POP</h4>
                  <p class="funko-name">Capitan America</p>
                  <p class="funko-prices">$5.799</p>
                  <p class="funko-cuotes">en 3x $1.933,33</p>
                  <p class="funko-cuotes">Sin Interés</p>
                  <div class="cart-box">
                    <p class="add-cart">Agregar al carrito</p>
                  </div>
                </div>
              </div>
  
              <div class="sales-box">
                <img src="img/funkoThanos.png" alt="Funko Thanos" />
                <div class="sales-description">
                  <h4 class="funko-title">Funko POP</h4>
                  <p class="funko-name">Thanos</p>
                  <p class="funko-prices">$5.799</p>
                  <p class="funko-cuotes">en 3x $1.933,33</p>
                  <p class="funko-cuotes">Sin Interés</p>
                  <div class="cart-box">
                    <p class="add-cart">Agregar al carrito</p>
                  </div>
                </div>
              </div>
  
              <div class="sales-box">
                <img src="img/funkoDrStrange.png" alt="Funko DrStrange" />
                <div class="sales-description">
                  <h4 class="funko-title">Funko POP</h4>
                  <p class="funko-name">Dr. Strange</p>
                  <p class="funko-prices">$5.799</p>
                  <p class="funko-cuotes">en 3x $1.933,33</p>
                  <p class="funko-cuotes">Sin Interés</p>
                  <div class="cart-box">
                    <p class="add-cart">Agregar al carrito</p>
                  </div>
                </div>
              </div>
  
              <div class="sales-box">
                <img src="img/funkoHulk.jpg" alt="Funko Hulk" />
                <div class="sales-description">
                  <h4 class="funko-title">Funko POP</h4>
                  <p class="funko-name">Banner Hulk</p>
                  <p class="funko-prices">$5.799</p>
                  <p class="funko-cuotes">en 3x $1.933,33</p>
                  <p class="funko-cuotes">Sin Interés</p>
                  <div class="cart-box">
                    <p class="add-cart">Agregar al carrito</p>
                  </div>
                </div>
              </div>
  
              <div class="sales-box">
                <img src="img/funkoAlakazam.png" alt="Funko Alazakam" />
                <div class="sales-description">
                  <h4 class="funko-title">Funko POP</h4>
                  <p class="funko-name">Alazakam</p>
                  <p class="funko-prices">$5.799</p>
                  <p class="funko-cuotes">en 3x $1.933,33</p>
                  <p class="funko-cuotes">Sin Interés</p>
                  <div class="cart-box">
                    <p class="add-cart">Agregar al carrito</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="novedad-h2">Novedad</h2>
        <img
          class="banner-bottom"
          src="img/novedad.png"
          alt="Banner Bottom Funko"
        />
    </main>
<!-- END MAIN -->
<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
</body>
</html>