<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
    <main class="mainProduct">
    <%- include('./partials/categoriesSlider')  %> 
        
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
    <%- include('./partials/footer')  %> 
<!-- END FOOTER -->
    <script src="../../js/productDetail.js"></script>
</body>
</html>