<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="pagos">
<!-- HEADER -->
    <%- include('./partials/header')  %> 
<!-- END HEADER -->
<!-- MAIN -->
    <main>
        <H1>FORMAS DE PAGO</H1>
        <section>
            <article>
                <div class="check-pago">
                    <i class="fa-solid fa-check"></i>
                    <h2>Precio Especial:</h2>
                </div>
                <p><b>-EFECTIVO:</b> Pago Fácil - Rapipago - Provincia NET</p>
                <p><b>-DÉBITO:</b> Maestro - Mastercard Débito - CABAL Débito - Visa Débito</p>
                <p><b>-CRÉDITO 1 PAGO:</b> Visa - Mastercard - CABAL - American Express</p>
                <p><b>-TRANSFERENCIA:</b> Online</p>
                <p><b>-DEPÓSITO BANCARIO:</b>Online</p>
            </article>
            <article>
                <div class="check-pago">
                    <i class="fa-solid fa-check"></i>
                    <h2>Precio de Lista</h2>
                </div>
                <p><b>-CRÉDITO 12 CUOTAS por MP:</b> Pago online. Mastercard Mercado Pago</p>
            </article>
        </section>  
        <div class="slider-formasDePago">
            <ul>
                <li><img src="/img/Efectivo.jpg" alt="Formas de pago en efectivo con Pago Facíl, Rapi Pago y Provincia NET."></li>
                <li><img src="/img/Debito.jpg" alt="Formas de pago con tarjetas débito Maestro, Mastercard, Cabal y Visa."></li>
                <li><img src="/img/Credito.jpg" alt="Se puede pagar con tarjetas de crédito con Me "></li>
            </ul>
        </div>
    </main>
<!-- END MAIN -->
<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Script -->
<script src="js/header.js"></script>
</body>

</html>