<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="forms login">
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
    <div id="particles-js"></div>
<!-- MAIN -->
    <main class="main_login-container">
        <section class="form-container login">
            <h1>Inicia sesión</h1>
            <form action="/usuarios/inicio" id="formLogin" method="POST">
                <small class="text-danger" id="fullErrors"></small>
                <div class="input-container">
                    <input class="input-style" placeholder="Email o usuario" type="email" name="email" id="email">
                    <small class="text-danger" id="emailErrors"></small>
                </div>
                <div class="input-container pass-container">
                    <input class="input-style" placeholder="Contraseña" type="password" name="password" id="password">
                    <small class="text-danger" id="passwordErrors"></small>
                    <i class="fa-solid fa-eye-slash" id="eye"></i>
                </div>
                <div class="input-container_login">
                    <label for="recuerdame">Recuerdame<input type="checkbox" name="recuerdame" id="recuerdame" class="checkbox"></label>
                    <a class="a-contraseña" href="">¿Necesitas ayuda?</a>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-submit">INICIAR SESIÓN</button>
                </div>
                <span class="span-register">¿No tienes una cuenta de Funko? <a href="/usuarios/registro">Regístrate</a></span>
            </form>
        </section>
    </main>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Scripts -->
<script src="/js/particlesFunko/particles.min.js"></script>
<script src="/js/particlesFunko/funkoParticle.js"></script>
<script src="/js/users/loginValidations.js" defer></script>
</body>
</html>