<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body>
    
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
<!-- MAIN -->
<h1 class="text-center">404 - Not Found</h1>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
</body>
</html>