<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="product-datail">
    
<!-- HEADER -->
<%- include('./partials/header')  %> 
<!-- END HEADER -->
<!-- MAIN -->
<h1 class="text-center">404 - Not Found</h1>
<h1 class="text-center">404 - Not Found</h1>
<h1 class="text-center">404 - Not Found</h1>
<h1 class="text-center">404 - Not Found</h1>
<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Scripts -->
<script src="/js/particlesFunko/particles.min.js"></script>
<script src="/js/particlesFunko/funkoParticle.js"></script>
</body>
</html>