<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')  %> 
<!-- END HEAD -->
<body class="forms">
<!-- HEADER -->
    <%- include('./partials/header') %> 
<!-- END HEADER -->
    <div id="particles-js"></div>
<!-- MAIN -->
    <main class="main_register">
        <section class="form-container register">
            <h1>Registrate</h1>
            <form action="/usuarios/registro" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <select class="input-style selec-container" name="country" id="country">
                        <option value="" hidden>País</option>
                        <option value="ar">Argentina</option>
                        <option value="pe">Perú</option>
                        <option value="ch">Chile</option>
                        <option value="bo">Bolivia</option>
                        <option value="ur">Uruguay</option>
                        <option value="Ec">Ecuador</option>
                        <option value="pa">Paraguay</option>
                        <option value="co">Colombia</option>
                    </select>
                    <span class="error-message">Seleccionar su país</span>
                </div>
                <div class="nom_ape-container">
                    <div class="input-container rInput">
                        <input class="input-style rInput-style" placeholder="Nombre" type="text" name="name" id="name" required>
                        <span class="error-message">Su nombre</span>
                    </div>
                    <div class="input-container rInput">
                        <input class="input-style rInput-style" placeholder="Apellido" type="text" name="lastName" id="lastName" required>
                        <span class="error-message">Su apellido</span>
                    </div>
                </div>
                <div class="input-container">
                    <input class="input-style" placeholder="Nombre de usuario" type="text" name="userName" id="userName" required>
                    <span class="error-message">Ingresar un usuario</span>
                </div>

                    <div class="inputFile">
                        <span>Subir imagen</span>
                        <input type="file" name="avatar">
                    </div>

                <div class="input-container">
                    <input class="input-style" placeholder="Email" type="email" name="email" id="email" required>
                    <span class="error-message">Ingresar su email</span>
                </div>
                <div class="input-container pass-container">
                    <input class="input-style" placeholder="Contraseña" type="password" name="password" id="password" required>
                    <span class="error-message">Ingresar una contraseña</span>
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
                <span>Al registrarte estás aceptando las <a href="/enlaces-utiles/politicas-de-privacidad" target="_blank">políticas de privacidad</a></span>
                <div class="btn-container">
                    <span class="error-message">Hubo un error en el registro</span>
                    <button type="submit" class="btn btn-submit">REGÍSTRARTE</button>
                </div>
                <span class="span-register">¿Ya tenés cuenta? <a href="/usuarios/inicio">Iniciá sesión aquí</a></span>
            </form>
        </section>
    </main>

<!-- END MAIN -->

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
<!-- END FOOTER -->
<!-- Scripts -->
<script src="/js/particlesFunko/particles.min.js"></script>
<script src="/js/particlesFunko/funkoParticle.js"></script>
</body>
</html>