<footer>
    <div class="footer-div">
        <div class="footer_logo">
            <img src="/img/productos/Logo.svg" alt="Logo Funko">
            <span>Horario de atención de Lunes a Viernes de 10 a 19hs y Sábados de 10 a 14hs.</span>
        </div>
        <article class="footer_article-container">
            <h4>Navegación</h4>
            <ul id="footer-ul">
                <li><a href="/franquicias" id="footer-a">Categorias</a></li>
                <li><a href="/productos/ofertas" id="footer-a">Ofertas</a></li>
                <li><a href="/productos" id="footer-a">Novedades</a></li>
            </ul>
        </article>
        <article class="footer_article-container">
            <h4>Contacto</h4>
            <ul id="footer-ul">
                <p>Av. Elm Street 1428</p>
                <p>011-XXXXXXXX</p>
                <a href="https://mail.google.com/" target="_blank" id="footer-a">funko@gmail.com</a>
            </ul>
        </article>
        <article class="footer_article-container">
            <h4>Enlaces útiles</h4>
            <ul id="footer-ul">
                <li><a href="https://es.semrush.com/blog/faqs/" target="_blank" id="footer-a">FAQS</a></li>
                <li><a href="/enlaces-utiles/politicas-de-privacidad" target="_blank" id="footer-a">Políticas de privacidad</a></li>
                <li><a href="/enlaces-utiles/formas-de-pago" target="_blank" id="footer-a">Formas de pago</a></li>
            </ul>
        </article>
    </div>
    <div class="footer-division"></div>
    <div class="footer_bottom">
        <span>Diseño web realizado por ABCD Developer | 2022</span>
        <article class="logo-redes">
            <a href="https://api.whatsapp.com/send?phone=1134348474&text=¡Hola, buen proyecto integrador!" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </article>
    </div>
</footer>