<header class="header-main">
    <div class="retenedor">
        <a href="/" class="header-logo"><img src="/img/Logo.svg" alt="Logo Funko"></a>
        <div class="header-search">
            <form action="">
                <input type="text" placeholder="Buscar">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <nav class="header-navMenu">
            <div class="header-menuClose"><i class="fa-solid fa-xmark"></i></div>
            <div class="header-user">
                <div class="header-imgUser">
                <% if (typeof session.usuario != "undefined") { %>
                    <img src="/img/users/<%= session.usuario.avatar %>" alt="Foto de perfil de <%= session.usuario.name  %> ">
                <% } else { %> 
                    <img src="/img/users/user.jpg" alt="Funko foto">
                <% } %> 

                </div>
                <div class="header-despliegeUser">
                    <% if (typeof session.usuario != "undefined") { %>
                      <button class="header-btnMenu"><%= session.usuario.name %> <i class="fa-solid fa-caret-down"></i></button>
                    <% } else { %> 
                      <button class="header-btnMenu">Usuario <i class="fa-solid fa-caret-down"></i></button>
                    <% } %> 
                    <ul class="header-ulUser">
                        <% if (typeof session.usuario != "undefined") { %>
                            <% if (session.usuario.rol === "ADMIN") { %>
                                <li><a href="/admin">Admin</a></li>
                            <% } %>
                            <li><a href="/usuarios/perfil">Mi perfil</a></li>
                            <li><a href="/usuarios/salir">Cerrar Sesión</a></li>
                        <% }else{ %> 
                            <li><a href="/usuarios/registro">Registrate</a></li>
                            <li><a href="/usuarios/inicio">Inicia Sesión</a></li>
                        <% } %> 
                            
                    </ul>
                </div>
            </div>
            <div class="header-search-menu">
                <form action="">
                    <input type="text" placeholder="Buscar">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="conteiner-redirecciones">
                <div class="header-redireccionBtn">
                    <a href="">Categorias</a>
                </div>
                <div class="header-redireccionBtn">
                    <a href="">Ofertas</a>
                </div>
                <div class="header-redireccionBtn">
                    <a href="">Novedades </a>
                </div>
            </div>
            <a href="/carrito" class="header-carrito">Carrito<i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <button class="header-btnBars"><i class="fas fa-bars"></i> </button>
    </div>
</header>