<div id="productoAgregado" class="producto-agregado-ok">
    <i class="fas fa-check-circle"></i> Producto agregado correctamente
</div>

<div id="productoComprado" class="producto-comprado">
    <i class="fa-solid fa-basket-shopping"></i> Compra éxitosa!
</div>

<div class="producto-eliminado">
    <i class="fa-regular fa-trash-can"></i> Se elimino correctamente
</div>