<div id="productoAgregado" class="producto-agregado-ok">
    <i class="fas fa-check-circle"></i> Producto agregado correctamente
</div>


<div class="producto-eliminado">
    <i class="fas fa-check-circle"></i> Producto eliminado correctamente
</div>