<div id="productoAgregado" class="producto-agregado-ok">
    <i class="fas fa-check-circle"></i> Producto agregado correctamente
</div>

<div class="producto-comprado">
    <div class="contentBuy">
        <i class="fa-solid fa-basket-shopping"></i> 
        <p>Compra éxitosa!</p>
        <article class="btn-finalizar">
            <a href="/productos" class="btn-buy-cart">Seguir comprando</a>
        </article>
    </div>
</div>

<div class="producto-eliminado">
    <i class="fa-regular fa-trash-can"></i> Se elimino correctamente
</div>