@import url("adminHeader.css");
@import url("adminFooter.css");

* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color: var(--text);
}

/* FOOTER */
footer ul#footer-ul{
    padding: 0;
}

footer p{
    margin: 0;
}
/* END FOOTER */

/* INDEX */
main.index {
    height: 100vh;
}

main.index h1 {
    text-align: center;
    margin: 6rem 0 1rem;
}

div.image {
    text-align: center;
}

div.image img {
    width: 40rem;
    height: 32rem;
}

/* END INDEX */