@import url("adminHeader.css");
@import url("adminFooter.css");

* {
    margin: 0 ;
    padding: 0 ;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color: var(--text);
}

/* FOOTER */
footer ul#footer-ul{
    padding: 0;
}

footer p{
    margin: 0;
}
/* END FOOTER */

/* INDEX */
main.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.index h1 {
    margin: 8rem 0 3rem;
}



div.image img {
    width: 40rem;
    height: 32rem;
}

/* END INDEX */