<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head')  %> 
<!-- END HEAD -->
<body class="politicas somos">
<!-- HEADER -->
<%- include('../partials/header')  %> 
<!-- END HEADER -->

<!-- MAIN -->
<main>

    <section class="politicas-priv">
        <h1>¿Quienes somos?</h1>
        <article><p>FÜNKO es una empresa dedicada a la venta de figuras coleccionables, llamados Funkos. Siendo apta para toda edad sin limite alguno!. Los productos que comercializamos abarcan desde franquicias de Disney, Marvel, Star Wars, DC, NBA, y muchos más!. Si estás interesado en nuestros productos podes adquirirlo desde nuestro página web de una manera fácil, rápida y accesible.</p> 
            <div class="somosQr"><img src="/img/productos/qrFunko.png" alt="Qr repositorio Funko">
            <p>Scanea para saber mas de nosotros</p>
            </div> 
        </article>
    </section>
    <div class="cards">
        <div class="card">
            <div class="imgBox">
                <img src="../../../img/users/leon.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Leon <br> <span>Developer</span></h2>
                    <div class="history">
                        <p>Edad : 22</p>
                        <p>Ciudad : CABA</p>
                    </div>
                    <div class="data">
                        <h3><br><a href="https://github.com/JAGLeon" target="_blank"><i class="fa-brands fa-github"></i></a></h3>
                        <h3><br><a href="mailto:anthonygarayleon@gmail.com?subject=Proyecto Funko.&body=Hola, quiero saber más de tu proyecto." target="_blank"><i class="fa-solid fa-envelope"></i></a></h3>
                        <h3><br><a href="https://api.whatsapp.com/send?phone=1134348474&text=¡Hola, quiero involucrarme más en tu proyecto!" target="_blank"><i class="fa-brands fa-whatsapp"></i></i></a></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../../../img/users/camila.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Camila <br> <span>Developer</span></h2>
                    <div class="history">
                        <p>Edad : 18</p>
                        <p>Ciudad : Escobar, Bs As</p>
                    </div>
                    <div class="data">
                        <h3><br><a href="https://github.com/CamilaGaytan5" target="_blank"><i class="fa-brands fa-github"></i></a></h3>
                        <h3><br><a href="mailto:camilagaytan05@gmail.com?subject=Proyecto Funko.&body=Hola, quiero saber más de tu proyecto." target="_blank"><i class="fa-solid fa-envelope"></i></a></h3>
                        <h3><br><a href="https://api.whatsapp.com/send?phone=1153897300&text=¡Hola, quiero involucrarme más en tu proyecto!" target="_blank"><i class="fa-brands fa-whatsapp"></i></i></a></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBox">
                <img src="../../../img/users/brian.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Brian <br> <span>Developer</span></h2>
                    <div class="history">
                        <p>Edad : 25</p>
                        <p>Ciudad : CABA</p>
                    </div>
                    <div class="data">
                        <h3><br><a href="https://github.com/BrianRodriguez2" target="_blank"><i class="fa-brands fa-github"></i></a></h3>
                        <h3><br><a href="mailto:rodriguezrbrian@gmail.com?subject=Proyecto Funko.&body=Hola, quiero saber más de tu proyecto." target="_blank"><i class="fa-solid fa-envelope"></i></a></h3>
                        <h3><br><a href="https://api.whatsapp.com/send?phone=1158801518&text=¡Hola, quiero involucrarme más en tu proyecto!" target="_blank"><i class="fa-brands fa-whatsapp"></i></i></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- END MAIN -->
<!-- FOOTER -->
<%- include('../partials/footer')  %> 
<!-- END FOOTER -->
<!-- Script -->
<script src="../js/header.js"></script>
</body>

</html>